
a {
    text-decoration: none;
}

a:active{
    text-decoration: underline;
    color: black;
}
a:hover{
    text-decoration: underline;
    color: black;
    font-style: oblique;
    /*text-shadow: 2px 2px 7px black;*/
}

ul.info li{
    display: inline;
    margin-right: 10px;
    border-width: 2px;
    border: 50%;
    border-top: 2px;
    padding: 15px;
    font-family: 'Bebas Neue', cursive;
    /*list-style-position: inside;*/
}

ul.order li{
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
    background-color: rgb(226, 214, 197);
    margin-right: 50px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-width: 2px;
    padding: 20px;
    margin-top: 20px;

}

p.lunch{
    font-family: 'Bebas Neue', cursive;
}

div.nav{
    border: 1px solid black;} 
    
    
/*div.menu{
    border: 1px solid black;
}*/
div.food{
    font-family: bungee, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: larger;
}


div.top{
    text-align: center;
    
}


hr{
    border: none;
    border-top: 2px solid;

}

h1{
    font-family: cheap-pine, sans-serif;
    font-weight: 400;
    font-size: 400%;
    color: darkolivegreen;
    font-style: normal;
}

