
a {
    text-decoration: none;
}

ul.info li{
    display: inline;
    margin-right: 10px;
    border-width: 2px;
    border-color: solid #000;
    padding: 10px;
    font-family: 'Bebas Neue', cursive;
}

body{
    text-align: center;
}

hr{
    border: none;
    border-top: 2px solid;

}

h1{
    color: #556B2F;
    font-family: bungee, sans-serif;
    font-style: normal;
   /* background-color: darkorange; */
    font-weight: 800;
}

